h2 {
  color: lightsteelblue;
  background-color: black;
}

h1 {
  color: white;
  background-color: black;
}

h3 {
  background-color: white;
}

body {
  background-color: lightsteelblue;
}

a:visited {
  color: black;
}

.videos {
  color: white;
}

#parrafo {
  color: black;
  background-color: lightsteelblue;
  font-size: 20pt;
}
